#art {
	display:table;
	border-spacing: 1px;
	background-color: black;
	border: 5px solid black;
}

.row{
	display:table-row;
}

.pixel{
	display:table-cell;
	background-color:white;
	width:40px;
	height:40px;
}

.box{
  width: 200px;
  height: 200px;
  border: 0px;
  background: url("./mario2.gif") no-repeat;  //在这里可以进行更改
}


#footer {
		height: 40px;
		line-height: 40px;
		position: fixed;
		bottom: 0;
		width: 100%;
		text-align: center;
		background: #C0C0C0;
		color: #000000;
		font-family: Arial;
		font-size: 12px;
		letter-spacing: 1px;
	}

.content {
	height: 1800px;
	width: 100%;
	text-align: center;
}